@charset "utf-8";
/*样式重置*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,select{
	margin: 0;padding: 0;
}
body{font-size: 12px;font-family: "微软雅黑";}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
input,textarea{outline: auto;}
table{border-collapse: collapse;}
textarea{resize: none;overflow: auto;}
input{border: none;}
/*公共样式*/
.lf{float: left;}
.rt{float: right;}
.clear{content: '';display: block;clear: both;}
.clear{zoom: 1;}/*IE浏览器*/
a:active,
a:hover {
  outline: 0;
}
/*H5标签定义*/
header,nav,article,search,footer{display: block;}
