@charset "utf-8";
/*********************************样式重置*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,select{
	margin: 0;padding: 0;
}
body{font-size: 12px;font-family: "微软雅黑";margin-bottom: 30px;}
em{font-style: normal;}
li{list-style: none;}
a{text-decoration: none;}
img{border: none;vertical-align: top;}
input,textarea{outline: auto;}
table{border-collapse: collapse;}
textarea{resize: none;overflow: auto;}
input{border: none;}
/******************************公共样式*/
.lf{float: left;}
.rt{float: right;}
.clear:after{content: '';display: block;clear: both;}
.clear { zoom:1; }/*IE浏览器*/
a:active,
a:hover {
  outline: 0;
}
	/***************************渐变公共样式*/
.gradient{
background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
background:linear-gradient(top, #FFFFFF, #f8f8f8);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
+background:#f9f9f9;
}
/***************************阴影样式*/


/******************************H5标签定义*/
header,nav,article,search,footer,article,section{display: block;}

/******************************模块结构制作*/
#header{
	width: 960px;
	height: 30px;
	margin: 0 auto;
	border-radius: 0 0 6px 6px;

}
#nav{
	width: 960px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	background-color: white;
}
#search{
	width: 958px;
	height: 114px;
	border-radius: 6px;
	border: 1px solid #dbdbdb;
	margin: 0 auto 10px;
	position: relative;
	
}
.content{
	width: 960px;
	margin: 0 auto;
}
.main{
	width: 710px;
}

.section{
	width: 318px;
/*	height: 100px;*/
	padding: 0 15px;
	border-radius: 6px;
	border: 1px solid #dbdbdb;
	margin-bottom: 10px;
	position: relative;
}
.options{
	width: 350px;
	height: 100px;
	border-radius: 6px;
}
.main_ad{
	margin-bottom: 10px;
	border-radius: 6px;
	overflow: hidden;
	
}
.side{
	width: 240px;
	
}
.side_section{
	border-radius: 6px;
	border: 1px solid #dbdbdb;
	margin-bottom: 10px;
	padding: 0 12px;
}
.side_ad{
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 10px;
}
.ad_border{
	border: 1px solid #dbdbdb;
}
.footer{
	width: 958px;
	height: 78px;
	border: 1px solid #dbdbdb;
	border-radius: 6px;
	background: #f9f9f9;
	margin: 0 auto;
}
.options .tab{
	height: 34px;
	position: relative;z-index: 2;
}
.options .tab li{
	width: 172px;
	height: 33px;
	line-height: 33px;
	border: 1px solid #dbdbdb;
	border-bottom: none;
	border-radius: 6px 6px 0 0 ;
	text-align: center;
	position: relative;
}
.options .tab .active{
	width: 172px;
	height: 34px;
	line-height: 34px;
	background: white;
}
.options .cot{
	width: 318px;
/*	height: 80px;*/
	border: 1px solid #dbdbdb;
	border-radius: 0 0 6px 6px ;
	padding: 0 15px;
}
/***************************头部制作****/
#header .city{
	float: left;
	padding-left: 20px;
	padding-top: 5px;
}
#header .city a{
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	display: inline-block;
	padding: 0 7px;
	color: #999999;
	border: 1px solid #e5e5e5;
	border-radius: 4px ;
	box-shadow: 1px 1px 0px #ededed;
	background: #fff;
}
#header .city a:hover{
	color: red;
}
#header .city .active{
	color: #d60d03;
}
#header .link{
	float: right;
	padding-right: 30px;
	color: #d5d5d5;	
	line-height: 30px;
	}
#header .link a{
	color: #666;

	
}
#header .link a:hover{
	text-decoration: underline;
}
#header .link .bg1{
	background: url(../img/header_link_bg.gif) no-repeat 0 3px;
	padding-left: 20px;
	margin-right: 7px;
}
#header .link .bg2{
	margin-right: 9px;
	padding-left: 20px;
	background: url(../img/header_link_bg.gif) no-repeat 0 -27px;
}
/***************************导航制作****/
#nav ul{
	position: absolute;
	top: 10px;
}
#nav li{
	
	float: left;
	
}
#nav li a{
	display: inline-block;
	color: #333;
	width: 66px;
	padding-top:50px;
	text-align: center;
	background: url(../img/nav_bg.png) no-repeat;
}
#nav li a:hover{text-decoration: underline;}
#nav .bg1{background-position: 0 0;}
#nav .bg2{background-position: -66px 0;}
#nav .bg3{background-position: -132px 0;}
#nav .bg4{background-position: -198px 0;}
#nav .bg5{background-position: -264px 0;}
#nav .bg6{background-position: -330px 0;}
#nav .bg7{background-position: -396px 0;}
#nav .bg8{background-position: -462px 0;}
#nav .bg9{background-position: -528px 0;}
#nav .bg10{background-position: -594px 0;}

#nav .bg1:hover{background-position: 0 -70px;}
#nav .bg2:hover{background-position: -66px -70px;}
#nav .bg3:hover{background-position: -132px -70px;}
#nav .bg4:hover{background-position: -198px -70px;}
#nav .bg5:hover{background-position: -264px -70px;}
#nav .bg6:hover{background-position: -330px -70px;}
#nav .bg7:hover{background-position: -396px -70px;}
#nav .bg8:hover{background-position: -462px -70px;}
#nav .bg9:hover{background-position: -528px -70px;}
#nav .bg10:hover{background-position: -594px -70px;}
#nav .nav_l{
	left: 11px;
}
#nav .nav_r{
	right: 11px;
}
#nav h1{
	width: 223px;
	height: 62px;
	margin: 0 auto;
	position: relative;
	top: 10px;
}
/***********************************搜索栏*/
#search .bar{
	width: 958px;
	height: 64px;
	border: 1px solid #c40d0e;
	position: absolute;
	top: 16px;
	left: -1px;/*真正定位不会盖住框*/
	border-radius: 5px;
	background-color: #e21c01;
	box-shadow: 1px 3px 2px #d5d5d5;
}
#search .menu{
	position: absolute;
	left: 226px;
	top: -27px;
	
}
#search .menu li {
	float: left;
	margin-right: 1px;
	color: #000;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	line-height: 25px;
	width: 78px;
	height: 25px;
	border: 1px solid #f8d0bf;
	border-radius: 5px 5px 0 0;
	border-bottom: none;
	box-shadow: 1px 0px 2px rgba(176,176,176,0.3);
	cursor: pointer;
}
#search .menu .active{
	height: 27px;
	color: white;
	font-weight: bold;
	background: #e21c01;
	position: relative;
	border-color: #c40d0e;
	top: -1px;
	border-bottom: none;
	text-shadow: 2px 2px 3px rgba(0,0,0,.25);
}
#search .search_img{
	position: absolute;
	left: 32px;
	top: -4px;
	z-index: 1;
}
#search .form{
	position: absolute;
	left: 226px;
	top:36px;
	z-index: 3;
}
#search .form .btn{
	width: 63px;
	height: 26px;
	outline: none;/*去掉input默认样式*/
	background: url(../img/btn_search.png) no-repeat 0 -7px;
	float: right;
}
#search .form .text{
	width: 380px;
	height: 22px;
	outline: none;
	padding: 0 12px;	
	border-radius: 3px;
	box-shadow: inset 2px 2px 2px rgba(0,0,0,.25);/*内阴影*/
	float: left;
	margin-right: 5px;
	color: #ea7a7a;
	font-size: 12px;
}
#search .key_text{
	width: 220px;
	line-height: 18px;
	position: absolute;
	top: 30px;
	right: 20px;
	color:#fff;
}
#search .key_text a{color:#fff;
}
#search .key_text a:hover{text-decoration: underline;}
/*****************************公共三角形******************/
.triangle_up{
	width: 0;
	height: 0;
	overflow: hidden;
	border:4px solid transparent ;
	border-bottom-color: #ca0309;
}
.triangle_down{
	width: 0;
	height: 0;
	overflow: hidden;
	border:4px solid transparent ;
	border-top-color: #ca0309;
}
.triangle_down_gray{
	width: 0;
	height: 0;
	overflow: hidden;
	border:4px solid transparent ;
	border-top-color: #c1c1c1;
}
/*************************跟新实时条************************/
#search .update{
width: 405px;
height: 30px;
position: absolute;
left: 226px;
bottom:0px;
background:url(../img/search_img_update.png) no-repeat 0 7px;
}
#search .update ul{
	width: 336px;
	position: absolute;
	top: 0px;
	left: 0;
}
#search .update li{
	height: 30px;
	line-height: 30px;
}
#search .update a{
	color: #000000;
}
#search .update strong{
	color: #d30703;
	font-weight: normal;
}
#search .update span{
	color: #999999;
}
#search .wrap{
	width: 336px;
	height: 30px;
	overflow: hidden;
	position: relative;
	left: 60px;
}
#search .triangle_up{
	position: absolute;
	right: 0;
	top: 5px;
}
#search .triangle_down{
	position: absolute;
	right: 0;
	top: 17px;
}
/************************Side公共样式*/
.vedio_title{
	height: 42px;
	line-height: 42px;
	background: url(../img/video_bg.gif) no-repeat 105px 10px;
	font-family: Arial;
	font-size: 18px;
	color: #d90000;
	font-weight: normal;
}
.vedio_title sup{
	position: absolute;
	top: -10px;
	font-family: "宋体";
	font-size: 14px;
}
.video{
	margin-bottom: 13px;
}
.vedio_list{
	padding-left: 75px;
	height: 78px;
	background: url(../img/video_bg.gif) no-repeat 3px -47px;
	
}
.vedio_list li{
	text-indent: 14px;
	background: url(../img/dot.gif) no-repeat 5px center;
	line-height: 20px;
}
.vedio_list a{
	color: #4d4d4d;
	font-size: 12px;
}
.vedio_list a:hover{
	text-decoration: underline;
}
/************************Public公共样式*/
.public_title{
	height: 40px;
	line-height: 40px;
	position: relative;
}
.public_title strong{
	color: #cc0d13;
	font-family: arial;
	font-size: 12px;
	position: absolute;
	left: 0;
}
.public_title span{
	color: #010000;
}
.public_title strong sup{
	position: absolute;
	top: -8px;
	left: 20px;
	font-family: arial;
}
.public_title a{
	position: absolute;
	right: 0;
	top: 11px;
}
/************************HOT SHOP样式*/
.tab li strong{
	color: #cc0d13;
	font-family: arial;
	font-size: 12px;
}
.tab li span{
	color: #010000;
}
.tab li .triangle_down{
	position: absolute;
	top: 14px;
	right: 12px;
}
.tab li .triangle_down_gray{
	position: absolute;
	top: 14px;
	right: 12px;
}
/*****************HOT add Content*****************/
.hot_list{
	padding-top: 10px;
	height: 374px;
	position: relative;
}
.hot_list li{
	width: 318px;
	height: 108px;/*有高可以不用清浮动*/
	margin-bottom: 6px;
	background: url(../img/hot_list_li_bg.gif) no-repeat;
}
.hot_list .hot_img{
	float: left;
}
.hot_list .hot_img a{
	display: inline-block;
	width: 104px;
	height: 84px;
	border: 1px solid #e6e6e6;
}
.hot_list .hot_text p:hover{
text-decoration: underline;
}
.hot_list .hot_text{
	width: 190px;
	float: right;
}
.hot_list h3 {
	line-height: 24px;
}
.hot_list h3 a{
	font-weight: normal;
	color: #bb0d0d;
}
.hot_list p{
color: #6e6e6e;
line-height: 16px;
}
.hot_more{
	position: absolute;
	bottom: 8px;
	right: 0;
}
/**************切换 toggle_tab***********/
.toggle_tab{
	height: 25px;
	border-bottom: 1px solid #dadada;
	padding:0 10px;
}
.toggle_tab ul{
	height: 26px;
	margin-bottom: -1px;
	position: relative;
}
.toggle_tab li{
	width: 98px;
	height: 24px;
	border: 1px solid #dadada;
	border-radius: 4px 4px 0 0;
	margin-right: -1px;
	float: left;
	text-align: center;
	line-height: 24px;
	color: #666px;
	position: relative;
	cursor: pointer;
}
.toggle_tab .active{
	border-bottom: 1px solid #fff;
	background-color: #fff;
	font-weight: bold;
	color: #454545;
}
.toggle_tab li a{
	position: absolute;
	top: 10px;
	right: 10px;	
}
.side_section .toggle_tab{
	padding:0 6px;
}
.side_section .toggle_tab li{
	width: 66px;
}
/*****************通用 list******************/
.common_list{
}
.common_list li{
	height: 27px;
	line-height: 27px;
	border-top: 1px dotted #dadada;
	background: url(../img/dot.gif) no-repeat 5px center;	
	text-indent: 14px;
	vertical-align: middle;/*  IE34个像素的BUG*/
}
.common_list li a{
	color: #333;
}
.common_list li a:hover{
	text-decoration: underline;
}
.common_list li em{
color: #c3c3c3;
}
.common_list li em span{
color: #c75d61;
}
.common_list_title{
	text-indent:0px;
	text-align: center;
	color: #999999;
}
.common_list .col2,.common_list  .col3{
	text-align: center;
	text-indent:0px;
}
.side_section .common_list .col1{
	width: 137px;
	float: left;
}
.side_section .common_list .col2{
	width: 35px;	float: left;
}
.side_section .common_list .col3{
	width: 36px;float: left;
	color: #999999;
}
.common_list .color{
color: #d80000;
}
.common_list .col1{
width: 273px;
}
.common_list .col2{
	width: 35px;
	float: right;
}
.common_list .col2 img{
	position: relative;
	top: 7px;
}
.common_list .common_list_title{
	border-top: none;
	background:none
}
.side_section .wrap_section1{
	padding-bottom: 5px;
}
.soso{
	border-top: 1px dotted #dadada;
	padding-left: 10px;
	height: 47px;
	padding-top: 17px;
}
.soso strong{
	color: #595959;
	float: left;
	padding-top: 2px;
}
.soso .text{
	width: 184px;
	height: 20px;
	line-height: 20px;
	outline: none;
	border: 1px solid #9c9c9c;
	float: left;
	padding: 0 4px;
	margin:0 10px 0px 5px ;
}
.soso .btn{
	width: 23px;
	height: 23px;
	border-radius: 50% 50%;
	outline: none;
	background: #f25e03;
	color: #fff;
	box-shadow: 1px 1px 1px #d5d3d3;
	float: left;
}

.pic_list{}
.pic_list li{
	overflow: hidden;/*清浮动*/
}
.pic_list .hot_img{
	width: 96px;
	height: 73px;
	position: relative;
}
.pic_list .hot_img a{
	display: inline-block;
	width: 90px;
	height: 67px;
	padding: 2px;
	border: 1px solid #dadada;
}
.pic_list .hot_img a:hover{
	border: 1px solid #b80000;
}
.pic_list .hot_text{
	width: 108px;
}
.pic_list .hot_text h3{
	margin-bottom: 5px;
}
.pic_list .hot_text p{
	color: #999;
}
.pic_list .hot_text p a{
	color: #666;
}
.pic_list .hot_text h3 a:hover{
	text-decoration: underline;
	
}
.pic_list .hot_text h3 a{
	font-size: 12px;
		color: #b80000;
		font-weight: normal;
}
.pic_list .hot_text p a:hover{
	text-decoration: underline;
}
.wrap_section2 li{
	border-bottom: 1px dotted #dadada;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.wrap_section3 .pic_list{
	padding-bottom: 10px;
}
.wrap_section4{
	padding-bottom: 10px;
}
.wrap_section4 .pic_list {
	overflow: hidden;
}
.wrap_section4 .pic_list li{
	float: left;
	width: 107px;
}
.new_title{
	height: 70px;
	position: relative;
	background: url(../img/new_title_bg.gif) no-repeat right 0;
}
.new_title span{
	color: #333;
	font-weight: bold;
	font-size: 24px;
	font-family: arial;
	top: 36px;
}
.new_title strong,.new_title span{
	position: absolute;
	left: 24px;
}
.new_title strong{
	font-size: 12px;
	color: #ea2b31;
	top: 19px;
}
.new_title em{
	font-size: 36px;
	font-weight: bold;
	color: #ec1c16;
	position: absolute;
	top:16px ;
	left: 125px;
}
.activity{
	border: 1px solid #dadada;
	border-radius:6px ;
	width: 348px;float: left;
}
.recommend{
	border: 1px solid #dadada;
	border-radius:6px;
	width: 348px; float: right;
}
.recommend .new_title{
	background: url(../img/new_title_bg.gif) no-repeat right -70px;
}
.activity{}
.activity .con{
	padding: 0 23px 0 26px;
	margin-top: 5px;
}
.activity .info{
	border-top: 1px solid #f3f3f2;
	overflow: hidden;
	padding-top: 16px;
}
.activity .info_img{
	padding-top: -1px;
	overflow: hidden;
	width: 81px;
	height: 81px;
	float: left;
	border: 2px solid #c61b00;
}
.activity .info_text{
	float: left;
	margin-left: 8px;
	position: relative;
	top: 2px;
	width: 205px;
}
.activity h3{
	padding-bottom: 6px;
}
.activity p{
	color: #999999;
	font-size: 12px;
	height: 17px;
	line-height: 17px;
	
}
.activity .info h3 em{
	font-size: 12px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	display: inline-block;
	border: 1px solid #d2d2d2;
	border-radius:4px;
	color: #d51913;
}
.calendar{
	width: 298px;
}
.calendar h3{
	word-spacing: 10px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background: url(../img/adorn.gif) repeat-x;
}
.calendar h3 span{
	font-size: 14px;
	font-family: arial;
}
.calendar ol{
	
}
.calendar ol li{
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 2px 2px 0;
	background: #ededed;
	float: left;
	position: relative;
	font-weight: bold;
	color: #666;
}
.calendar .normal{
	background: #f8f8f8;
	color: #ccc;
}
.calendar .active{}
.calendar img{}
